body {
    background-color: rgb(0, 0, 0);
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    margin-bottom: 0;
}

/* Loading Line Animation */
.loading-line {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Adjust the height as needed */
  background-color: green;
  animation: loadingLine 0.75s forwards, fadeOut 0.5s 0.5s forwards; /* Chain animations */
  z-index: 9999; /* Ensure it appears above other elements */
}

@keyframes loadingLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.logo {
    margin-top: 20px;
    margin-right: 7.5vw;
    color: black;
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* navbar */
header {
  width: 20; /* Ensure the header takes the full viewport width */
  position: sticky;
  top: 0;
  height: 10vh; /* Set the height of the header */
  z-index: 1000;
  background-color: #000000; /* Optional: Set a background color to ensure it’s visible */
  margin-left: -7.5vw; /* Offset the body's margin */
  margin-right: -7.5vw; /* Offset the body's margin */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.325); /* Optional: Add a shadow for better visibility */
}

.navbar {
  margin-top: -2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-lines {
  margin-top: 1vh;
  margin-left: 7.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #000;
}

.content {
  height: 2000px; /* Just for demonstration to enable scrolling */
}
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 7.5vw;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.3s ease-in-out;
  }
  
  .overlay-menu {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.675); /* Halfdoorzichtige achtergrond */
      backdrop-filter: blur(25px); /* Vervaagt de achtergrond */
      z-index: 9999;
      transition: opacity 9.3s ease; /* Voeg een overgangseffect toe */
  }
  
  .overlay-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  .overlay-content a {
    display: block;
    color: #fff;
    font-size: 70px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2.5px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: color 0.3s ease, transform 80s ease; /* Voeg transform toe aan de overgang */
    text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black; /* Zwarte rand om de letters */
  }
  
  .overlay-content a:hover {
    color: #919730;
    transform: scale(1.3); /* Maak de knop 30% groter bij hover */
  }
  
  .overlay-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  .overlay-content a {
      display: block;
      color: #fff;
      font-size: 70px;
      font-weight: bolder;
      margin-bottom: 20px;
      text-decoration: none;
      transition: color 0.3s ease;
  }
  
  /* Existing styles */
  .overlay-content a {
      display: block;
      color: #fff;
      font-size: 70px;
      font-weight: bolder;
      margin-bottom: 20px;
      text-decoration: none;
      transition: color 0.3s ease;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
      .overlay-content a {
          font-size: 50px; /* Smaller font size */
      }
  }
  
  @media (max-width: 768px) {
      .overlay-content a:hover {
          font-size: 55px; /* Smaller font size on hover */
      }
  }
  
  .logo {
      position: absolute;
      top: 5px;
      right: 0vw;
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
      display: none;
  }
  
  /* Existing styles */
  .grey-line {
      height: 2px; /* Dikte van de lijn */
      background-color: grey; /* Kleur van de lijn */
      width: 80%; /* Breedte van de lijn, aanpasbaar naar wens */
      position: absolute;
      top: 50%; /* Positioneert de lijn in het midden van de div */
      left: 10%; /* Centreert de lijn horizontaal, aanpassen op basis van de breedte */
  }

  /* about me intro */
  .welcometitle {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20vh;
    margin-bottom: 5px;
    max-width: 15vw;
    animation: fadeInFromBottom 1.75s ease-out forwards;
}

.highlight {
    color: #858585;
}

@keyframes fadeInFromBottom {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }

.underline {
    color: transparent;
    background: radial-gradient(circle, rgb(150, 0, 150), rgb(255, 128, 145));
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
    letter-spacing: 3px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeInFromBottom 1.85s forwards;
}

.textright {
  color: rgb(255, 255, 255);
    text-align: left;
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    margin-top: -5.6vh;
    margin-bottom: 5px;
    animation: fadeInFromBottom 1.75s forwards;
    position: absolute;
    right: 7.5vw;
}

  /* Persona */

/* Photocards Section */
.photocards-container {
  padding-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* Increased space between cards */
  margin-top: 20px; /* Adjust as needed */
}

.photocard {
  width: 130px; /* Adjust as needed */
  height: 180px; /* Adjust as needed */
  background-color: #fff; /* Polaroid background color */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 10px;
  transform: rotate(0deg); /* Default rotation */
}

.photocard:nth-child(1) {
  transform: rotate(-5deg); /* Slight tilt to the left */
}

.photocard:nth-child(2) {
  transform: rotate(3deg); /* Slight tilt to the right */
}

.photocard:nth-child(3) {
  transform: rotate(-2deg); /* Slight tilt to the left */
}

.photocard img {
  width: 100%; /* Adjust as needed */
  height: auto;
  margin-bottom: 10px; /* Space between image and caption */
  border: 0px solid #ccc; /* Optional: border around the image */
  border-radius: 0px; /* Optional: rounded corners for the image */
  filter: grayscale(100%); /* Make the image black and white */
  transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.photocard img:hover {
  filter: grayscale(0%); /* Show the color version on hover */
}

.photocard span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
}


    /* Career */
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    .content-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  
    .text-container {
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;
      width: 80%; /* Pas dit aan naar uw voorkeur */
      padding: 0 10px;
      color: rgb(255, 255, 255);
      font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
  
    .career {
      font-size: 5em;
      font-weight: bold;
      margin-top: 20vh;
    }
  
    .career-text {
      margin-top: -7.5vh;
      font-size: 1.3em;
      max-width: 55vw;
    }
  
    .image-container {
        margin-top: 5vh;
        width: 50%; /* Stel de breedte van de div in */
        height: 400px; /* Stel de hoogte van de div in */
        background-image: url('foto\ van\ mezelf\ in\ silhouette.jpg'); /* Vervang 'your-image.jpg' door de URL van uw afbeelding */
        background-size: cover; /* Zorg ervoor dat de achtergrondafbeelding de div vult */
        background-position: center; /* Centreer de achtergrondafbeelding */ /* Voeg ruimte toe aan de rechterkant */
        margin-left: 20px; /* Voeg ruimte toe aan de linkerkant om de afbeelding naar rechts te verplaatsen */
        border-radius: 20px;
    }
  
    .content-container2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row-reverse; /* Reverse the order of the flex items */
    }
  
    .text-container2 {
      margin-top: -80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 24px;
      width: 80%; /* Pas dit aan naar uw voorkeur */
      padding: 0 10px;
      color: rgb(255, 255, 255);
      font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 60px;
    }
  
    .future {
      font-size: 5em;
      font-weight: bold;
      margin-top: 20vh;
    }
  
    .future-text {
      margin-top: -7.5vh;
      font-size: 1.3em;
      max-width: 55vw;
    }
  
    .image2-container {
      margin-top: 5vh;
      width: 50%; /* Stel de breedte van de div in */
      height: 400px; /* Stel de hoogte van de div in */
      background-image: url('setup.jpg'); /* Vervang 'your-image.jpg' door de URL van uw afbeelding */
      background-size: cover; /* Zorg ervoor dat de achtergrondafbeelding de div vult */
      background-position: center; /* Centreer de achtergrondafbeelding */
      border-radius: 20px;
    }
  
    @keyframes slideInFromRight {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    .content-container2 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row-reverse; /* Reverse the order of the flex items */
    }
  
    .animate {
      animation: 1.3s ease-out 0s 1 slideInFromLeft;
    }
    
    .animate2 {
      animation: 1.3s ease-out 0s 1 slideInFromRight;
    }

    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }

        /* Tech Stack Carousel */
/* Tech Stack Carousel */
.tech-carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 20px; /* Adjust as needed */
}

.tech-carousel-track {
  display: flex;
  animation: scroll 20s linear infinite; /* Adjust duration as needed */
}

.tech-item {
  min-width: 100px; /* Adjust as needed */
  margin-right: 20px; /* Space between items */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-item i {
  font-size: 48px; /* Adjust icon size as needed */
}

/* Specific colors for each technology */
.tech-item i.fa-html5 {
  color: #E34F26; /* HTML5 */
}

.tech-item i.fa-css3-alt {
  color: #1572B6; /* CSS3 */
}

.tech-item i.fa-js {
  color: #F7DF1E; /* JavaScript */
}

.tech-item i.fa-php {
  color: #777BB4; /* PHP */
}

.tech-item i.fa-database {
  color: #4479A1; /* MySQL */
}

.tech-item i.fa-bootstrap {
  color: #7952B3; /* Bootstrap */
}

.tech-item i.fa-laravel {
  color: #FF2D20; /* Laravel */
}

.tech-item i.fa-npm {
  color: #CB3837; /* npm */
}

.tech-item i.fa-git-alt {
  color: #F05032; /* Git */
}

.tech-item i.fa-github {
  color: #ffffff; /* GitHub */
}

.tech-item i.fa-code {
  color: #007ACC; /* VS Code (using blue color) */
}

.tech-item i.fa-wordpress {
  color: #21759B; /* WordPress */
}

.tech-item i.fa-apple {
  color: #ffffff; /* macOS */
}
        
        @keyframes scroll {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(-50%);
          }
        }

    /* grey line */
    .custom-hr {
      border: none;
      border-top: 1px solid rgb(255, 255, 255); /* Pas de dikte en kleur van de lijn aan */
      margin-top: 10vh; /* Voeg wat marge toe boven en onder de lijn */
    }

    /* socials */
    
    .custom-hr {
      border: none;
      border-top: 1px solid gray; /* Pas de dikte en kleur van de lijn aan */
      margin-top: 12vh; /* Voeg wat marge toe boven en onder de lijn */
      max-width: 83.5vw;
    }
    
    .footertext {
      color: #4b4b4b;
      font-weight: bold;
      margin-top: 7vh;
      font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-bottom: 5vh; /* Voeg witruimte toe aan de onderkant */
    }
    
    .social-buttons {
      margin-top: -11vh;
      display: flex;
      justify-content: center;
      align-items: left;
      padding: 0px 10px;
      background-color: black;
    }
    
    .social-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 10%;
      margin: 0 10px;
      background-color: #fff;
      box-shadow: 0px 0px 4px #00000027;
      transition: 0.3s;
    }
    
    .social-button:hover {
      background-color: #f2f2f2;
    }
    
    .social-buttons svg {
      transition: 0.3s;
      height: 20px;
    }
    
    .github {
      background-color: #85858585;
    }
    
    .github svg {
      width: 25px;
      height: 25px;
      fill: #f2f2f2;
    }
    
    .github:hover svg {
      fill: #333;
    }
    
    .linkedin {
      background-color: #0077b5;
    }
    
    .linkedin svg {
      fill: #f2f2f2;
    }
    
    .linkedin:hover svg {
      fill: #0077b5;
    }
    
    .instagram {
      background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    }
    
    .instagram svg {
      fill: #f2f2f2;
    }
    
    .instagram:hover svg {
      fill: #c13584;
    }
    
    .instagram:hover {
      background: white;
    }

  /* scroll to top button */
  #myBtn {
    /* display: none; */
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 12.5px;
    border-radius: 6.5px;
  }
  
  #myBtn:hover {
    background-color: #e4e4e4;
  }